[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
wheel = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
flake8 = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.11"
